[Unit]
Description=My service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/scriptJordi/Nestkast.py > /home/pi/scriptJordi/Nestkast.log 2>&1


[Install]
WantedBy=multi-user.target
